/* Ici placer votre @import avec une police si vous souhaitez rajouter vos polices d'écriture (aller sur GoogleFont par exemple)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

html, body {
    margin: 0;
    /* Veuillez placer votre police d'écriture que vous souhaitez */
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

main {
    animation-name: move;
    animation-duration: 500ms;
}

h1 {
    display: block;
    text-align: center;
    font-size:43px;
}

#menu_fixe {
    position: fixed;
    width: 100%;
}

.menu {
    margin-left: 1%;
    display:flex;
    justify-content:flex-start;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 5%;
    margin-right: 10%;
    font-weight:900;
}

.navigation {
    display:flex;
    justify-content:flex-start;
    font-size: 24px;
    margin-top: 8%;
}

@media (max-width:530px) {
    h1 {
        display: block;
        text-align: center;
        font-size:29px;
    }
    #menu_fixe {
        display: block;
        font-size: 20px;
    }
    .menu {
        display: block;
    }
    .navigation {
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .contact {
        position: fixed;
        top: 7%;
        width: 100%;
        text-align: center; 
    }
    .titre_contact {
        display: none;
    }
    .txt_contact {
        font-size: 16px;
        font-weight: bold;
        margin-top: 1%;
    }
    .img_tete {
        margin-top: 42%;
        width: auto;
        height:280px;
        display: flex;
        justify-content: center;
    }

    .tete_createur {
        width: auto;
        height:200px;
        border-radius: 50%;
    }

    .propos {
        background-color: black;
        color:white;
        padding:1.5%;
        margin-top: 2%;
    }

    .txt_propos {
        margin-bottom: 4%;
        text-align: center;
        font-size: 20px;
    }
}

@media (min-width:531px) {
    h1 {
        display: block;
        text-align: center;
        font-size:35px;
    }
    #menu_fixe {
        display: block;
    }
    .menu {
        display: block;
    }
    .navigation {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
    .contact {
        position: fixed;
        top: 10%;
        width: 100%;
        text-align: center; 
    }
    .titre_contact {
        display: none;
    }
    .txt_contact {
        font-size: 22px;
        font-weight: bold;
        margin-top: 1%;
    }
    .img_tete {
        margin-top: 37%;
        display: flex;
        justify-content: center;
    }

    .tete_createur {
        width: auto;
        height:200px;
        border-radius: 50%;
    }

    .propos {
        background-color: black;
        color:white;
        padding:1.5%;
        margin-top: 2%;
    }

    .txt_propos {
        margin-bottom: 4%;
        text-align: center;
        font-size: 24px;
    }
}

@media (min-width:1030px) {
    h1 {
        display: block;
        text-align: center;
        font-size:43px;
    }
    
    #menu_fixe {
        position: fixed;
        width: 100%;
    }
    
    .menu {
        margin-left: 1%;
        display:flex;
        justify-content:flex-start;
    }
    
    .navigation {
        display:flex;
        justify-content:flex-start;
        font-size: 24px;
        margin-top: 8%;
    }
    .contact {
        position: fixed;
        top:2%;
        right: 5%;
        width: 28%;
        text-align: center; 
    }
    .titre_contact {
        display: block;
        font-size: 25px;
        margin-bottom: 3%;
        font-weight: bold;
    }
    .txt_contact {
        font-size: 23px;
        font-weight: bold;
    }

    .img_tete {
        margin-top: 7%;
        display: flex;
        justify-content: center;
    }

    .tete_createur {
        width: auto;
        height:200px;
        border-radius: 50%;
    }

    .propos {
        background-color: black;
        color:white;
        padding:1.5%;
        margin-top: 2%;
    }

    .txt_propos {
        margin-bottom: 4%;
        text-align: center;
        font-size: 27px;
    }
}



@keyframes move {
    from { transform: translateY(500px);

    }
    to { transform: translateY(0);

    }
}

@keyframes feature {
    from { transform: translateX(400px);

    }
    to { transform: translateX(0);

    }
}